{% block content %}
{% load static %}

<div class="flex-shrink max-w-full px-4 w-full mb-6">
    <div class="p-6 bg-white dark:bg-gray-800 rounded-lg shadow-lg h-full">
        <!-- Inicio formulario creación de Proyecto -->
        <div class="flex flex-wrap flex-row -mx-4">
            <!-- Campo título proyecto -->
            <div class="flex-shrink max-w-full px-4 w-full mb-4">
                <div class="flex items-center mb-2">
                    <label for="inputtitle" class="inline-block mb-2">
                        Título proyecto
                        <div x-data="{ tooltips: false }" class="relative inline-block">
                            <button x-on:mouseover="tooltips = true" x-on:mouseleave="tooltips = false"
                                    type="button" class="inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                     fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                                </svg>
                            </button>
                            <!-- tooltip area -->
                            <div class="absolute top-auto bottom-full mb-3" x-cloak
                                 x-show.transition.origin.top="tooltips">
                                <div class="w-32 p-3 -mb-1 text-sm leading-tight text-white bg-black rounded-lg shadow-lg text-center">
                                    Título global del proyecto
                                </div>
                                <div class="absolute transform -rotate-45 p-1 w-1 bg-black bottom-0 -mb-2 ltr:ml-6 rtl:mr-6"></div>
                            </div>
                        </div>
                    </label>
                        <div id="saving-indicator-name-{{ project.id }}" class="ml-2" style="display: none;">
                        </div>
                </div>
                <div id="inputtitle-wrapper">
                    <textarea
                           name="name"
                           hx-patch="/projects/api/projects/{{ project.id }}/"
                           hx-trigger="keyup changed delay:1s"
                           hx-target="#inputtitle-wrapper"
                           hx-swap="none"
                           class="w-full leading-5 py-2 px-4 rounded text-gray-800 bg-white border border-gray-300 overflow-x-auto focus:outline-none focus:border-gray-400 focus:ring-0 dark:text-gray-300 dark:bg-gray-700 dark:border-gray-700 dark:focus:border-gray-600"
                           id="inputtitle"
                           placeholder="Ingrese el nombre del proyecto">{{ project.name }}</textarea>
                </div>

                <div class="flex justify-between items-center mt-2">
                    <div class="flex-grow">
                        <div id="error-inputtitle" class="text-red-500 text-sm" style="min-height: 1em;"></div>
                    </div>
                    <div id="inputtitle-counter" class="text-gray-500 text-sm" style="white-space: nowrap;">0/100 caracteres</div>
                </div>
            </div>

            <!-- Campo descripción proyecto -->
            <div class="flex-shrink max-w-full px-4 w-full mb-4">
                <div class="flex items-center mb-2">
                    <label for="inputdes" class="inline-block mb-2">Descripción de proyecto</label>
                    <div id="saving-indicator-description-{{ project.id }}" class="ml-2" style="display: none;">
                    </div>
                </div>
                <div id="inputdes-wrapper">
                    <textarea name="description"
                              hx-patch="/projects/api/projects/{{ project.id }}/"
                              hx-trigger="keyup changed delay:1s"
                              hx-target="#inputdes-wrapper"
                              hx-swap="none"
                              class="w-full leading-5 relative py-2 px-4 rounded text-gray-800 bg-white border border-gray-300 overflow-x-auto focus:outline-none focus:border-gray-400 focus:ring-0 dark:text-gray-300 dark:bg-gray-700 dark:border-gray-700 dark:focus:border-gray-600"
                              id="inputdes"
                              placeholder="Ingrese la descripción del proyecto"
                              style="resize: none; overflow: hidden; min-height: 40px;">{{ project.description }}</textarea>
                </div>
                <div class="flex justify-between items-center mt-2">
                    <div class="flex-grow">
                        <div id="error-inputdes" class="text-red-500 text-sm" style="min-height: 1em;"></div>
                    </div>
                    <div id="inputdes-counter" class="text-gray-500 text-sm" style="white-space: nowrap;">0/1000 caracteres</div>
                </div>
            </div>

            <!-- Botón Crear proyecto -->
            <div class="flex-shrink max-w-full px-4 w-full">
                <button type="button"
                        id="finalizeButton"
                        class="py-2 px-4 block lg:inline-block text-center rounded leading-5 text-gray-100 bg-indigo-500 border border-indigo-500 hover:text-white hover:bg-indigo-600 hover:ring-0 hover:border-indigo-600 focus:bg-indigo-600 focus:border-indigo-600 focus:outline-none focus:ring-0">
                    Finalizar creación de Proyecto
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                         class="inline-block ltr:ml-1 rtl:mr-1 bi bi-plus-lg" viewBox="0 0 16 16">
                        <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"></path>
                    </svg>
                </button>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/utils/setupSpinner.js' %}"></script>
<script src="{% static 'js/utils/setupCharacterCounter.js' %}"></script>
<script src="{% static 'js/utils/autoResizeTextArea.js' %}"></script>
<script>
    setupSpinner('inputtitle', 'saving-indicator-name-{{ project.id }}', 'error-inputtitle');
    setupCharacterCounter('inputtitle', 'inputtitle-counter', 100);
    autoResizeTextarea('inputtitle');
    setupSpinner('inputdes', 'saving-indicator-description-{{ project.id }}', 'error-inputdes');
    setupCharacterCounter('inputdes', 'inputdes-counter', 1000);
    autoResizeTextarea('inputdes');
</script>
{% endblock %}