<!doctype html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>Manual de Construcción</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}

    <!-- Favicon  -->
    <link rel="icon" href="/static/img/LogoMdCwhite.png">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--Google Materials (íconos)-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 

    <!--Development css (used in all pages)-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--start::Global javascript (used in all pages)-->
    <script src="{% static 'vendors/alpinejs/dist/cdn.min.js' %}"></script>
    <script src="{% static 'vendors/flatpickr/dist/flatpickr.min.js' %}"></script>
    <script src="{% static 'vendors/flatpickr/dist/plugins/rangePlugin.js' %}"></script>
    <script src="{% static 'vendors/simple-datatables/dist/umd/simple-datatables.js' %}"></script>
    <script src="{% static 'vendors/@yaireo/tagify/dist/tagify.min.js' %}"></script>
    <script src="{% static 'vendors/pristinejs/dist/pristine.min.js' %}"></script>
    <!--end::Global javascript (used in all pages)-->
    
    <script src="{% static 'vendors/chart.js/dist/chart.min.js' %}"></script><!-- charts -->
    <!-- chart config -->
    <script src="{% static 'js/chart/cms.js' %}"></script>
    
    <!--start::Vendor javascript (only on this page)-->
    <script src="{% static 'vendors/jsvectormap/dist/js/jsvectormap.min.js' %}"></script><!-- vector map -->
    <script src="{% static 'vendors/jsvectormap/dist/maps/world.js' %}"></script><!-- world vector map -->
    
    <!--start::Vendor javascript (only on this page)-->
    <script src="{% static 'vendors/dropzone/dist/dropzone-min.js' %}"></script>
    <script src="{% static 'vendors/simplemde/dist/simplemde.min.js' %}"></script>
    <script src="{% static 'vendors/jsvectormap/dist/js/jsvectormap.min.js' %}"></script>
    <script src="{% static 'vendors/jsvectormap/dist/maps/world.js' %}"></script>
    <script src="{% static 'vendors/glightbox/dist/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendors/flickity/dist/flickity.pkgd.min.js' %}"></script>
    <!--end::Vendor javascript (only on this page)-->
    
    <!-- start::Call vendor (initialize vendor javascript) -->
    <script src="{% static 'js/vendor.js' %}"></script>
  </head>
</html>